In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge , Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
df=pd.read_csv('/Users/jainabajawara/Downloads/downloaded_stufff/cleaned_data.csv')

In [3]:
print(df.shape)
df.head(10)

(21267, 25)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day,total_sqft,total_sqft15
0,7129300520,221900,3,1.00,1180,5650,1.0,0,0,3,...,98178,47.5112,-122.257,1340,5650,2014,10,13,6830,6990
1,6414100192,538000,3,2.25,2570,7242,2.0,0,0,3,...,98125,47.7210,-122.319,1690,7639,2014,12,9,9812,9329
2,5631500400,180000,2,1.00,770,10000,1.0,0,0,3,...,98028,47.7379,-122.233,2720,8062,2015,2,25,10770,10782
3,2487200875,604000,4,3.00,1960,5000,1.0,0,0,5,...,98136,47.5208,-122.393,1360,5000,2014,12,9,6960,6360
4,1954400510,510000,3,2.00,1680,8080,1.0,0,0,3,...,98074,47.6168,-122.045,1800,7503,2015,2,18,9760,9303
5,7237550310,1225000,4,4.50,5420,101930,1.0,0,0,3,...,98053,47.6561,-122.005,4760,101930,2014,5,12,107350,106690
6,1321400060,257500,3,2.25,1715,6819,2.0,0,0,3,...,98003,47.3097,-122.327,2238,6819,2014,6,27,8534,9057
7,2008000270,291850,3,1.50,1060,9711,1.0,0,0,3,...,98198,47.4095,-122.315,1650,9711,2015,1,15,10771,11361
8,2414600126,229500,3,1.00,1780,7470,1.0,0,0,3,...,98146,47.5123,-122.337,1780,8113,2015,4,15,9250,9893
9,3793500160,323000,3,2.50,1890,6560,2.0,0,0,3,...,98038,47.3684,-122.031,2390,7570,2015,3,12,8450,9960

In [ ]:
corr = df.corr()

fig , ax = plt.subplots(figsize=(25 , 20))


sns.heatmap(corr ,annot= True , ax=ax , cmap= 'Blues');

In [5]:
X = df.drop(columns=['price','waterfront', 'month', 'bathrooms','condition','sqft_basement','bedrooms','floors',
'year', 'yr_renovated'],axis=1)
y = df['price']

In [6]:
X1 = df.drop(columns=['price'])
y1 = df['price']

In [7]:
X_train , X_test , y_train , y_test = train_test_split(X ,y ,test_size=0.2 , random_state=42 )
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (17013, 15)
y_train shape: (17013,)
X_test shape: (4254, 15)
y_test shape: (4254,)

In [8]:
X1_train , X1_test , y1_train , y1_test = train_test_split(X1 ,y1 ,test_size=0.2 , random_state=42 )
print("X1_train shape:", X1_train.shape)
print("y1_train shape:", y1_train.shape)
print("X1_test shape:", X1_test.shape)
print("y1_test shape:", y1_test.shape)

X1_train shape: (17013, 24)
y1_train shape: (17013,)
X1_test shape: (4254, 24)
y1_test shape: (4254,)

In [9]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

rf_mae = mean_absolute_error(y_test, lr_pred)
rf_mse = mean_squared_error(y_test, lr_pred)
rf_rmse = np.sqrt(rf_mse)
rf_r2 = r2_score(y_test, lr_pred)

print("Mean Absolute Error:", rf_mae)
print("Mean Squared Error:", rf_mse)
print("Root Mean Squared Error:", rf_rmse)
print("R-squared Score:", rf_r2)

Mean Absolute Error: 130840.6249167027
Mean Squared Error: 44393022914.03917
Root Mean Squared Error: 210696.51851428198
R-squared Score: 0.675706030099832

In [10]:
rg = Ridge()
rg.fit(X_train, y_train)
rg_pred = rg.predict(X_test)

rg_mae = mean_absolute_error(y_test, rg_pred)
rg_mse = mean_squared_error(y_test, rg_pred)
rg_rmse = np.sqrt(rg_mse)
rg_r2 = r2_score(y_test, rg_pred)

print("Ridge Model Metrics:")
print("Mean Absolute Error:", rg_mae)
print("Mean Squared Error:", rg_mse)
print("Root Mean Squared Error:", rg_rmse)
print("R-squared Score:", rg_r2)

Ridge Model Metrics:
Mean Absolute Error: 130824.02775036493
Mean Squared Error: 44393627596.18255
Root Mean Squared Error: 210697.95346937413
R-squared Score: 0.6757016128567623

/Users/jainabajawara/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:200: LinAlgWarning: Ill-conditioned matrix (rcond=7.10675e-24): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

In [12]:
lo = Lasso(max_iter=2000)
lo.fit(X_train, y_train)
lo_pred = lo.predict(X_test)

lo_mae = mean_absolute_error(y_test, lo_pred)
lo_mse = mean_squared_error(y_test, lo_pred)
lo_rmse = np.sqrt(lo_mse)
lo_r2 = r2_score(y_test, lo_pred)

print("Lasso Model Metrics:")
print("Mean Absolute Error:", lo_mae)
print("Mean Squared Error:", lo_mse)
print("Root Mean Squared Error:", lo_rmse)
print("R-squared Score:", lo_r2)

Lasso Model Metrics:
Mean Absolute Error: 130839.6850679229
Mean Squared Error: 44393068098.83461
Root Mean Squared Error: 210696.62574145466
R-squared Score: 0.6757057000219113

In [13]:

dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)
dt_pred = dt.predict(X_test)
dt_mae = mean_absolute_error(y_test, dt_pred)
dt_mse = mean_squared_error(y_test, dt_pred)
dt_rmse = np.sqrt(dt_mse)
dt_r2 = r2_score(y_test, dt_pred)

print("Decision Tree Model Metrics:")
print("Mean Absolute Error:", dt_mae)
print("Mean Squared Error:", dt_mse)
print("Root Mean Squared Error:", dt_rmse)
print("R-squared Score:", dt_r2)

Decision Tree Model Metrics:
Mean Absolute Error: 98967.29102021626
Mean Squared Error: 32177635816.80442
Root Mean Squared Error: 179381.25826519454
R-squared Score: 0.7649402411446665

In [14]:

dt1 = DecisionTreeRegressor()
dt1.fit(X1_train,y1_train)
dt1_pred = dt1.predict(X1_test)

dt1_mae = mean_absolute_error(y1_test, dt1_pred)
dt1_mse = mean_squared_error(y1_test, dt1_pred)
dt1_rmse = np.sqrt(dt1_mse)
dt1_r2 = r2_score(y1_test, dt1_pred)

print("Decision Tree Model 1 Metrics:")
print("Mean Absolute Error:", dt1_mae)
print("Mean Squared Error:", dt1_mse)
print("Root Mean Squared Error:", dt1_rmse)
print("R-squared Score:", dt1_r2)

Decision Tree Model 1 Metrics:
Mean Absolute Error: 97221.43276915843
Mean Squared Error: 31077854502.444992
Root Mean Squared Error: 176289.12190616014
R-squared Score: 0.7729742164192552

In [16]:

rf = RandomForestRegressor()
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)

rf_mae = mean_absolute_error(y_test, rf_pred)
rf_mse = mean_squared_error(y_test, rf_pred)
rf_rmse = np.sqrt(rf_mse)
rf_r2 = r2_score(y_test, rf_pred)

print("Random Forest Model Metrics:")
print("Mean Absolute Error:", rf_mae)
print("Mean Squared Error:", rf_mse)
print("Root Mean Squared Error:", rf_rmse)
print("R-squared Score:", rf_r2)

Random Forest Model Metrics:
Mean Absolute Error: 70120.26772802068
Mean Squared Error: 16727359542.427942
Root Mean Squared Error: 129334.29376011585
R-squared Score: 0.8778055316830901

In [ ]:

rf1 = RandomForestRegressor()
rf1.fit(X1_train,y1_train)
rf1_pred = rf1.predict(X1_test)
rf1_mae = mean_absolute_error(y1_test, rf1_pred)
rf1_mse = mean_squared_error(y1_test, rf1_pred)
rf1_rmse = np.sqrt(rf1_mse)
rf1_r2 = r2_score(y1_test, rf1_pred)

print("Random Forest Model 1 Metrics:")
print("Mean Absolute Error:", rf1_mae)
print("Mean Squared Error:", rf1_mse)
print("Root Mean Squared Error:", rf1_rmse)
print("R-squared Score:", rf1_r2)